<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.1.xsd">

<!-- AOP 네임스페이스 추가 -->
<!-- xmlns:aop="http~  -->
<bean id="log" class="com.Quick.biz.common.LogAdvice"/>
<aop:config>
	<aop:pointcut id="allPointcut" expression="execution(* com.Quick.biz..*impl.*(..))"/>
	<aop:pointcut id="getPointcut" expression="execution(* com.Quick.biz..*impl.get*(..))"/>
	<aop:pointcut id="getPointcuts" expression="execution(* com.Quick.biz..*impl.get*(..))"/>
	<aop:aspect ref="log">
		<aop:after pointcut-ref="getPointcut" method="printLog"/>
	</aop:aspect>
</aop:config>

<!-- 
	AOP 용어
	- 조인포인트: 클라이언트가 호출하는 모든 비즈니스 메소드 BoardServiceImpi and UserServiceImpi와 같이 클라이언트가 호출하는 메소드
	- 포인트 컷: 필터링 된 조인포인트, ex) 트랙잭션과 같은 비즈니스 메소드에서 횡단 관심이 실행되야 하지만 검색와 같은 기능은 실행 될 필요가 없음 -> 원하는 메소드에만 횡단 관심 부여
	
	aop:poincut
	id: 포인트컷을 식별하기 위한 문자열 선언
	expression: *(리턴타입) com.Qick.biz(패키지 경로) *impl(클래스명) *(..)(메소드 및 매개변수)
	
	- 어드바이스: 횡단 관심의 공통 기능 코드를 의미, 비즈니스 로직 수행 후 트랙잭션 커밋 등, 독립된 클래스의 메소드로 작성됨
	어드바이스의 동작 시점: before after after-returning after-throwing around 
	
	- 위빙: 포인트 컷으로 지정한 핵심 관심 메소드가 호출될 때, 어드바이스에 해당하는 횡단 관심 메소드가 삽입되는 과정을 의미함. = 비즈니스 메소드를 수정하지 않아도 해당 관심 기능 추가 변경 가능하다.
	위빙을 처리하는 방식은 컴파일타임, 로깅타임, 위빙런타임, 위빙이 있지만 스프링에서는 위빙만 지원한다.
	
	AOP(Aspect Oriented Programming)
	- 에스팩트: 포인트 컷과 어드바이스를 결합 함으로 어떤 포인트 메소드에 어떤 어드바이스를 실행할 지 결정한다.
	
	<aop:config>는 AOP의 root 엘리먼트 이다.
	하위 엘리먼트로 <aop:pointcut> <aop:aspect> 가 위치 한다.
	
	<aop:pointcut>
	- 포인트 컷을 지정한다.
	- <aop:config> , <aop:aspect>의 자식 엘리먼트로 사용핤 수 있다.
	- 단 <aop:aspect>의 자식 엘리먼트인 경우 해당 <aop:aspect>에서만 사용이 가능하다.
	- 여러 개 정의를 할 수 있으며, 유일한 아이디를 할당하여 애스팩트 설정 시 포인컷을 참조하는데 사용한다.
	
	<aop:aspect>
	- 핵심 관심의 해당하는 포인트컷과 횡단 관심에 해당하는 어드바이스 메소드를 결합한다.
	- 가장 중요한 설정이다(위빙의 결과를 반영)
 -->

<!-- BoardService 컴퓨넌트를 스프링 기반으로 테스트 하기 위해 context:component-scan 설정 수정 -->
<context:component-scan base-package="com.Quick.biz"></context:component-scan>

<!-- <bean id="userService" class="com.Quick.biz.user.impl.UserServiceimpl">
	<property name="userDAO" ref="userDAO"></property>
</bean>

<bean id="userDAO" class="com.Quick.biz.user.impl.UserDAO"/> -->
</beans>
